!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title bitcoin.inspect
    %link(rel='stylesheet' type='text/css' href='/stylesheets/main.css')
  %body
    .container
      .row
        .col12
          = yield

